
  .appContainer {
    padding-top: 100px;
    padding-left: 150px;
    padding-right: 150px; 
  }
  
  .table{

    position: absolute;

    left: 600px;
    top: -10px;
    
  }

  .yapilacak {
    font-size: 30px;

  }
